@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #FFFAF7;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}

.page-enter {
  opacity: 0;
  transform: translateY(100%);
}

.page-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 1000ms, transform 1000ms;
}

.page-exit {
  opacity: 0;
  transform: translateY(0);
}

.page-exit-active {
  opacity: 0;
  transform: translateY(-100%);
  transition: opacity 1000ms, transform 1000ms;
}


html {
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.topnav {
  background-color: #FFFAF7;
  /* padding: 0 15% 0 15%; */
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  text-transform: uppercase;
  width: 100%;
  height: 110px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
}

/* .topnav a {
  color: #0e0e0e;
  text-align: center;
  padding: 0 16px;
  text-decoration: none;
  font-size: 17px;
  display: inline-block;
  vertical-align: top;
  margin-left: 50px;
  height: 110px;      
  line-height: 110px;
  transition: font-weight .3s;
} */

#logo {
  display: inline-block;
  vertical-align: top;
  height: 100px;
  /* margin-right: 50px; */
  margin-top: 5px; 
}


/* Change the color of links on hover */
.topnav a:hover {
  color: #000000;
  font-weight: 600;
}

/* Add a color to the active/current link */
.topnav a.active {
  color: #000000;
  font-weight: 600;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > a {
  margin: 0 2rem;
  overflow: hidden;
}

/* Hamburger menu */
.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #575757;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 1000px) {
  #logo {
    padding: 0;
  }
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 110px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu a {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu a {
    /* border: 1px solid #333; */
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    color: #0e0e0e;
  }
  .menu > a {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: #0e0e0e;
    background-color: #FFFAF7;
  }
  .menu > a:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}

/* Styling banner */

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 35vh;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.65);
  padding: 60px;
  text-align: center;
  color: white;
}

h1 {
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 0.75rem;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.75rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

p {
  font-size: 1rem;
  margin-bottom: 1rem;
}

button {
  background-color: #D8766D;
  color: #ffffff;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 12x;
  text-transform: uppercase;
  padding: 7px 20px 7px 20px;
  margin-top: 1rem;
  transition: background-color .3s;
}

button:hover {
  background-color: #778AC6;
}

button.disabled {
  background-color: gray;
}

.pagination {
  display: flex;
  justify-content: center;
}

.pagination a {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 10%;
  transition: background-color .3s;
  margin: 0 4px; 
}

.pagination a.active {
  background-color: #D8766D;
  color: white;
  border-radius: 10%;
}

.pagination a:hover:not(.active) {
  background-color: #778AC6;
  color: white;}

/* Form Input */
input {
  padding: 5px 5px 5px 5px;
  width: 220px;
  border: solid 2px;
  border-color:	rgb(220,220,220);
  border-radius: 5px;
  margin-right: 20px;
}

select {
  padding: 5px 5px 5px 5px;
  width: 220px;
  border: solid 2px;
  border-color:	rgb(220,220,220);
  border-radius: 5px;
  margin-right: 20px;
}
/* Form Section */

.form-section {
  background-color: #ffffff;
  padding: 20px; 
}

/* Learn More */

.learn-more {
  color:#778AC6;
  background-color: #ffffff;
  text-transform: uppercase;
  padding: 7px 10px;
  transition: background-color .3s;
}

.learn-more:hover {
  background-color: #ffffff;
  color: #D8766D;
}

/* Like Button */

.like-button {
  color:#D8766D;
  padding-right: 10px;
  font-size: 20px !important;
  cursor: pointer;
}

.like-button:active {
  background-color: #ffffff;
  font-size: 20px !important;
}

.likes {
  text-align: right;
  font-size: 15px;
}

.card-content {
  padding: 10px 10px 0 20px;
  min-height: 155px;
}

.card-action {
  padding: 0 0 5px 10px;
}

.color-background-section {
  background-color: #FFFAF7;
}

.video-divider {
  border-bottom: 0.25rem solid #778ac6;
  display: flex;
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.video-divider-textbox {
  display: inline-block;
  margin: 0;
  padding: 0.375rem 1rem 0.125rem;
  font-size: 1.25rem;
  font-weight: 640;
  line-height: 1.4;
  color: #fff;
  border-color: #778ac6;
  background-color: #778ac6;
  letter-spacing: 1px;
}


/* Footer */
.footer {
  /* position:fixed; */
  bottom:0;
  left:0;
  width:100%;
  height: 70px;
  background-color: #778AC6;
  color: white;
}
.footer-text-left {
  font-size:16px;
  padding-top: 20px;
  padding-left:40px;
  float:left;
}

a.footer-menu {
  margin-left: 20px;
}
a.footer-menu:hover {
  font-weight: 600
}

.footer-content-right {
  padding-right:40px;
  margin-top:20px;
  float:right;
}

.home-divider {
  border-bottom: 0.25rem solid #D8766D;
  display: flex;
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.home-divider-textbox {
  display: inline-block;
  margin: 0;
  padding: 0.375rem 1rem 0.125rem;
  font-size: 1.25rem;
  font-weight: 640;
  line-height: 1.4;
  color: #fff;
  border-color: #D8766D;
  background-color: #D8766D;
  letter-spacing: 1px;
}